<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @clean_request.status %>
</p>

<%= link_to 'Edit', edit_clean_request_path(@clean_request) %> |
<%= link_to 'Back', clean_requests_path %>
