
$primary: #008894;
$secondary: #7D2250;
$dark: #000000;
$body-color: $dark !default;
$list-group-action-color: $dark !default;

$font-family-base: "Roboto", sans-serif;
$font-family-sub: "Ubuntu", sans-serif;
